# Web Framework
fastapi[standard]
uvicorn
python-multipart

# AI & RAG Orchestration
langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-aws

# Vector Database & Processing
pinecone
faiss-cpu
pypdf
python-docx
python-dotenv
pymupdf4llm

# Audio & Voice
elevenlabs

# Utilities
requests
pydantic